body{
	background-image: url(img/back.png);

}

header{
	text-align: center;	
	font-size: 60px;
	margin-bottom: 30px;
	font-family: 'Indie Flower', cursive;
	font-weight: 800;
	color: #F44336;
}
span{
	font-family: 'Indie Flower', cursive;
	font-weight: 800;
	color: #F44336;
	font-size: 40px;
}



.container{
	margin: 0px;
	padding: 0px;
}

.overLay{
	transform: translateX(-55%);
    text-align: center;
}

.gameBack{ /*properties the box*/
  	width: 900px;
  	height: 450px;
	background-image: url(img/gameBack.svg);
	outline: 0.5rem solid #F0E68C;
	margin: 10px;

}


/*Lateral panel score balloons, clock and numbers*/
.scoreBalloons img {

}


.spaceAround{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.windBalloon:hover{
	transform: scale(1.2);
	transition: transform 0.2s;
}

.windBalloon{
	transition: transform 0.2s;
}

 /*index*/
.gameLevel{
	font-family: 'Indie Flower', cursive;
	font-weight: 800;
	font-size: 25px;
	text-align: center;	
}

.play{
	width: 100px;
}

.text-center{
background-color: #DCFBD2;	
}
.box{
outline: 0.5rem solid #F0E68C;
background: #DCFBD2!important;
}

.card-body{
background-color: #DCFBD2;		
}
 .ball{
 	width: 100%;
 }


@media only screen and (min-width: 240px) and (max-width: 568px) {
 .ball{
 	width: 100px;
 }
 span{
 	color: black;
 }

 .col-md-12{
 	display: flex;
 	flex-direction: row;
 }

 .gameBack{ /*properties the box*/
  	width: 350px;
  	height: 770px;
	background-image: url(img/gameBack.svg);
	outline: 0.2rem solid #F0E68C;
	margin: 0px;
	margin-top: 5px;
}

.windBalloon{
	margin: 5px;
	width: 45px;
}

}