body{
	background-image: url(../img/back.png);
}

header{
	text-align: center;	
	font-size: 60px;
	margin-bottom: 30px;	
}

span{
	font-size: 40px;
}

.fonts{
	font-family: 'Indie Flower', cursive;
	font-weight: 800;
	color: #F44336;
}

.container{
	margin: 0px;
	padding: 0px;
}

.overLay{
	transform: translateX(-55%);
    text-align: center;
}

.gameBack{ /*properties the box*/
  	width: 900px;
  	height: 450px;
	background-image: url(img/gameBack.svg);
	outline: 0.5rem solid #F0E68C;
	margin: 10px;
}

.spaceAround{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.windBalloon:hover{
	transform: scale(1.2);
	transition: transform 0.2s;
}

.windBalloon{
	transition: transform 0.2s;
}

/*--------------index --------------*/
.gameLevel{
	font-family: 'Indie Flower', cursive;
	font-weight: 800;
	font-size: 25px;
	text-align: center;	
}

.play{
	width: 100px;
}

.play:hover{
	transform: scale(1.2);
	transition: transform 0.2s;
}

.text-center{
	background-color: #DCFBD2;	
}

.box{
	outline: 0.5rem solid #F0E68C;
	background: #DCFBD2!important;
}

.card-body{
	background-color: #DCFBD2;		
}

 .ball{
 	width: 100%;
 }

 
/*--------------Footer coisarada --------------*/
 
/*--------------Footer coisarada --------------*/
footer{
  background-color: #F44336;
  position:absolute;
  bottom:0;
  width:100%;
  margin: 0px;   
}

/*-Display Name + icons sidebyside-*/
.footContainer{
  display: flex;
  justify-content: center; 
  width:100%;
}
/*-colors Name + icons-*/
.contactItem, .madeby{
  color: #fff;
}
/**/
.contact-icons{
  margin: 5px; 
}

.contactItem{
  padding-right: 5px;
  text-decoration: none; 
}


/*  -------------- made by + star  --------------*/
.madeby { 
  display: flex;
  font-size: 0.9em;
  margin: 5px;
  margin-right:400px; 
  margin-left:450px;
}

.made-star img {
  width: 15px;
  height: 15px;
  margin: 2px;
  color:#ffd700;
  border-color: #ffd700;
  animation: star 3s linear infinite;
}

@keyframes star {
    0%   {transform: rotate(0deg);}
    10%  {transform: rotate(35deg);}
    20%  {transform: rotate(72deg);}
    30%  {transform: rotate(108deg);}
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    100% {transform: rotate(360deg);}
}

 /*------------------------------------------------------------------------------*/
 /*------------------------------------------------------------------------------*/
 /*------------------------------------------------------------------------------*/
 /*--------------------------------Media query----------------------------------*/

@media only screen and (min-width: 240px) and (max-width: 568px) {
	#space{
	 	display: block;
		margin: 0px;
	    padding: 5px;
	    padding-right: 10px;
	 }	

	header{
		text-align: center;	
		font-size: 45px;
		margin-bottom: 30px;
	}

	img{
		width: 90px;
	}

	span{
	 	color: black;
	}

	.ball{
	 	width: 80px;
	 }

	 .chro{
		width: 100px!important;
	 }

	 .overLay{
	 	transform: translateX(-66%);
	 }

	 .ms{
		display: flex;
	    justify-content: center;   
	    margin: 0;
	    padding: 0;
	}

	.numScore{
	 	display: flex;
	 	margin-top: 100px;
	 	transform: translateX(-53%);
	 }

	 .col-md-12{
	 	display: flex;
	 	flex-direction: row;
	 }

	 .gameBack{ /*properties the box*/
	  	width: 350px;
	  	height: 770px;
		background-image: url(img/gameBack.svg);
		outline: 0.2rem solid #F0E68C;
		margin: 0px;
		margin-top: 5px;
	}

	.windBalloon{
		margin: 5px;
		width: 45px;
	}

	.windBalloon:hover{
		transform:none;
		transition: none;
	}

	/*  --------------Footer --------------*/
    footer a, p{      
        color: #edf0c7;
     }

     footer{      
 		bottom: 0;
        position: fixed;          
     }    

    .contact-me{
      display: flex;
      justify-content: center;
     }

    .contactItem{     
      font-size: 20px;
     }

     .madeby { 
     	display: flex; 
     	justify-content: center;    	
     	margin-right:5px;
     	margin-left:5px;
     	margin-top: 9px;
     }

}